body {
    background-color: coral;
}

img {
    height: 250px;
    width: 230px;
    align-items: center;
}


.titulos {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
        color: white;
        width: 60vw;
        margin: auto;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
    }


.principal {
    font-size: 2.5em;
    font-weight: bold;
}


.personal{
    background-color: grey;
    color: white;
    border: 2px solid white;
    width: 85vw;
    margin: 20px 20px 20px 80px;
    padding: 10px;
    border-radius: 2em;
    display: flex; 
    justify-content: center;
}


h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 1em;
}


.cards{
   border: 2px solid grey;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column; 

}


.cards:hover{ 
    background-color: white;
}


#cards-container{
    display: flex;
    justify-content: space-around;
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    padding: 2em;
    border-radius: 2em;
    display: flex;
    gap: 30px;  /*espacio entre tarjetas*/
   
    
}


p {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 2em;
}


.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}


#formulario {
    background-color: grey;
    border: 2px solid white;
    width: 85vw;
    margin: 20px 20px 40px 80px;
    padding: 10px 10px 50px 10px;
    border-radius: 2em;
    display: flex; 
    justify-content: space-around;
}

#cards-formcontainer {
    display: flex;
    justify-content: center;
   text-align: center;
    padding: 30px; 
    margin: 40px;
    gap: 50px;    
   
     
}

#form {
    padding-top: 30px;
}


.form-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    width: 800px; 
    height: 50px;
    margin: 10px;
    padding: 5px; 
    box-sizing: border-box;
}


.form-textarea {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    width: 800px; /* Ajusta el ancho menos el padding o margen deseado */
    height: 120px; /* O el valor deseado */
    margin: 10px;
    padding: 5px; /* Espaciado interno */
    box-sizing: border-box;
};


.card-container {
    border: 2px solid white;  /*Color del borde de la tarjeta*/
    border-radius: 10px;
    padding: 25px;
    background-color: coral;
    max-width: 300px;  /*Ancho maximo de la tarjeta*/
    text-align: center; 
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;  
    
}

.element-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.element-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    margin-bottom: 10 px;
}

.element-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid white;
}



footer {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

/* Estilos para el botón de envío */
#button-submit {
    background-color: grey; /* Color de fondo del botón */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; /* Color del texto */
    border: 1px solid white; /* Sin borde */
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 20px; /* Espaciado interno (padding) */
    text-align: center; /* Centrar el texto dentro del botón */
    display: inline-block; /* Alineación en línea con otras cajas */
    font-size: 12px; /* Tamaño de la fuente */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano al pasar sobre el botón */
    
}

